<html>

<head>
    <style>
        .button {
            display: inline-block;
            width: 85px;
            height: 20px;
            background: #4e9caf;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="col-md-12" style="margin-bottom: 60px">
   
    </div>
     <h4>Congratulation..!</h4>
    <h4>Click here to login</h4>
    {{!-- <a href="http://{{host}}/user/confirmation/{{token}}" class="button">Click Here</a> --}}
    
    <a href="{{url}}" class="button">Click Here</a>
</body>

</html>